<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Aylien - sentiment analysis</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment analysis results:</strong>
                <h2>Polarity</h2> 
                <div id="polarity"></div>
                <h2>Subjectivity</h2> 
                <div id="subjectivity"></div>
                <h2>Polarity confidence</h2> 
                <div id="polarity-confidence"></div>
                <h2>Subjectivity confidence</h2> 
                <div id="subjectivity-confidence"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
    <script>
        if('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            })
        }
    </script>
    <div>
        TODO:  
        4. do some styling and some refactoring
        5. do readme
    </div>
</html>

