<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Aylien - sentiment analysis</title>
    </head>

    <body>

        <header>
            <img class="logo-image" src="../img/aylienn.png"/>
            <h1 class="">
                Sentiment analysis with Aylien
            </h1>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Insert your URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2>Sentiment analysis results:</h2>
                <div class="results">
                    <div>
                        <h3>Polarity</h3> 
                        <div id="polarity"></div>
                    </div>
                    <div>
                        <h3>Subjectivity</h3> 
                        <div id="subjectivity"></div>
                    </div>
                    <div>
                        <h3>Polarity confidence</h3> 
                        <div id="polarity-confidence"></div>
                    </div>
                    <div>
                        <h3>Subjectivity confidence</h3> 
                        <div id="subjectivity-confidence"></div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
    <script>
        // if('serviceWorker' in navigator) {
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     })
        // }
    </script>
    <div>
        TODO:  
        4. do some styling and some refactoring
        5. fix service workers
    </div>
</html>

